In [3]:
import pandas as pd
import numpy as np

# Задание 1. Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести его на печать.

In [2]:
s = pd.Series([1,2,3], index=['a', 'b', 'c'])
print(s)

a    1
b    2
c    3
dtype: int64

# Задание 2. Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на печать.

In [3]:
my_list = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(my_list)
print(s)

a    1
b    2
c    3
dtype: int64

# Задание 3. Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать объект Series и вывести его на печать.

In [4]:
my_array = np.array([1, 2, 3, 4, 5])
s = pd.Series(my_array)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

# Задание 4. Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b, c] и вывести его на печать.

In [5]:
s = pd.Series(0, index=['a', 'b', 'c'])
print(s)

a    0
b    0
c    0
dtype: int64

# Задание 5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными пробелом, во второй строка с целыми числами. На их основе создать список кортежей и из него объект Series, вывести его на печать.

In [7]:
str1 = input("Введите символы, разделенные пробелом ")
str2 = input("Введите целые числа ")
s1 = tuple(str(item) for item in str1.split(' '))
s2 = tuple(int(item) for item in str2.split(' '))
my_list = [s1, s2]
s = pd.Series(my_list)
print(s)

Введите символы, разделенные пробелом a b c d i f
Введите целые числа 2 5 7 9 0 1
0    (a, b, c, d, i, f)
1    (2, 5, 7, 9, 0, 1)
dtype: object

# Задание 6. На вход поступает строка слов, разделенных пробелом. Создать на ее основе объект Series с метками 0, 1, 2,... Вывести его на печать.

In [8]:
str1 = input("Введите слова, разделенные пробелом ")
s1 = tuple(str(item) for item in str1.split(' '))
s = pd.Series(s1)
print(s)

Введите слова, разделенные пробелом Снова седая ночь
0    Снова
1    седая
2     ночь
dtype: object

# Задание 7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом. Создать на ее основе объект Series, содержащий булевы значения True (1) , False (0) c метками [a, b, c, d,...]

In [4]:
s =input()
s = s.replace("1", "True")
s = s.replace("0", "False")
st = s.split(' ')
st = pd.Series(st)
st = st.rename(lambda x: chr(97 + x))
print(st)

1 2 3 4 0
a     True
b        2
c        3
d        4
e    False
dtype: object

# Задание 8. Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022 01-03'] , вывести его на печать. Даты в объекте Series должны быть представлены объектами datetime стандартной библиотеки языка программирования Python.

In [5]:
s = pd.Series(
    data = pd.date_range('2022-01-01', periods=3))
print(s)

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

# Задание 9. На вход подаются два целых числа n и m через пробел. На их основе создать объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7,...] . Вывести его на печать.

In [6]:
a = int(input("Начальное число: "))
b = int(input("Конечное число: "))
s = []

sq = 0
for i in range(10):
    s.append(a + sq)
    sq += 10
    if s[i] > b:
        break

st = pd.Series(s)
st = st.rename(lambda x: int(1 + 2*x))
print(st)

Начальное число: 11
Конечное число: 32
1    11
3    21
5    31
7    41
dtype: int64

# Приведите решение в виде исполняемого модуля на языке программирования Python.

# Возьмем данные о погоде в разных городах в течение недели. У нас есть три города: Москва, Санкт-Петербург и Казань. Необходимо вычислить среднюю температуру для каждого города за неделю.

In [7]:
weather_data = {'Москва': [15, 18, 20, 17, 16, 19, 18],
                'Санкт-Петербург': [12, 14, 13, 10, 15, 11, 12],
                'Казань': [22, 25, 23, 20, 24, 25, 23]}
moscow_weather = pd.Series(weather_data['Москва'])
average_temperature_moscow = moscow_weather.mean()
print("Средняя температура в Москве:", average_temperature_moscow)
print(moscow_weather)

Средняя температура в Москве: 17.571428571428573
0    15
1    18
2    20
3    17
4    16
5    19
6    18
dtype: int64

In [10]:
spb_weather = pd.Series(weather_data['Санкт-Петербург'])
average_temperature_spb = spb_weather.mean()
print("Средняя температура в Санкт-Петербурге:", average_temperature_spb)
print(spb_weather)

Средняя температура в Санкт-Петербурге: 12.428571428571429
0    12
1    14
2    13
3    10
4    15
5    11
6    12
dtype: int64

In [11]:
kazan_weather = pd.Series(weather_data['Казань'])
average_temperature_kazan = kazan_weather.mean()
print("Средняя температура в Казани:", average_temperature_kazan)
print(kazan_weather)

Средняя температура в Казани: 23.142857142857142
0    22
1    25
2    23
3    20
4    24
5    25
6    23
dtype: int64